<div class="main-wrapper">
  <h1 class="page-heading">Event</h1>
  <div class="form">
    <strong>Upload carousel images</strong>
    <div class="row mt-30">
      <div class="col-md-4">
        <div class="upload-image-section">
          <span class="upload-icon">
            <span class="material-symbols-outlined"> arrow_upward </span>
          </span>
          <span class="upload-file-text">Drag files to upload</span>
          <input
            type="file"
            name=""
            id="upload-file-1"
            style="display: none"
            multiple
          />
        </div>
        <button class="btn theme-btn">
          <label for="upload-file-1"> Choose File</label>
        </button>
      </div>
      <div class="col-md-8"></div>

      <div class="col-md-12 mt-25">
        <div class="form-group">
          <label for="" class="form-label">Write Description</label>
          <textarea
            class="form-control"
            name=""
            id=""
            cols="30"
            rows="4"
          ></textarea>
          <div class="bottom-textarea">
            <span class="material-symbols-outlined"> delete </span>
            <span class="material-symbols-outlined"> edit </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-30">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="form-label">Title</label>
          <input type="text" class="form-control" placeholder="Enter Here" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="form-label">Youtube Link</label>
          <input type="text" class="form-control" placeholder="Enter Here" />
        </div>
      </div>
    </div>

    <div class="row mt-30">
      <div class="col-md-4">
        <div class="col-md-4">
          <div class="upload-image-section">
            <span class="upload-icon">
              <span class="material-symbols-outlined"> arrow_upward </span>
            </span>
            <span class="upload-file-text">Upload Video</span>
            <input
              type="file"
              name=""
              id="upload-file-2"
              style="display: none"
              multiple
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-30">
      <div class="col-md-4">
        <div class="col-md-4">
          <div class="upload-image-section">
            <span class="upload-icon">
              <span class="material-symbols-outlined"> arrow_upward </span>
            </span>
            <span class="upload-file-text">Drag files to upload</span>
            <input
              type="file"
              name=""
              id="upload-file-3"
              style="display: none"
              multiple
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-25">
        <div class="form-group">
          <label for="" class="form-label">Why vietnam?</label>
          <textarea
            class="form-control"
            name=""
            id=""
            cols="30"
            rows="4"
          ></textarea>
          <div class="bottom-textarea">
            <span class="material-symbols-outlined"> delete </span>
            <span class="material-symbols-outlined"> edit </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-25">
      <div class="col-md-2">
        <button class="btn theme-btn">Upload</button>
      </div>
    </div>
  </div>
</div>
