<div class="main-wrapper">
  <h1 class="page-heading">Event</h1>
  <div class="form" [formGroup]="eventForm">
    <strong>Upload carousel images</strong>
    <div class="row mt-30">
      <div class="col-md-3 mt-3 d-flex flex-column align-items-start">
        <div
          class="upload-image-section"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event)"
          (dragleave)="onDragLeave($event)"
        >
          <span class="upload-icon">
            <span class="material-symbols-outlined"> arrow_upward </span>
          </span>
          <span class="upload-file-text">Drag files to upload</span>
          <input
            type="file"
            name=""
            id="upload-file-1"
            style="display: none"
            multiple
            (change)="onFileSelect($event)"
          />
        </div>
        <label
          class="btn theme-btn mt-2 custome-margin-upload-btn"
          for="upload-file-1"
        >
          Choose File</label
        >
      </div>
      <div class="col-md-8">
        <div class="row">
          <div
            class="col-md-6"
            *ngFor="let image of uploadedImageArray; let i = index"
          >
            <div class="card mt-3">
              <div class="row d-flex align-items-center">
                <div class="col-md-10">
                  <div class="d-flex align-items-center">
                    <img
                      height="100px"
                      width="100px"
                      [src]="image.url"
                      alt=""
                      class=""
                    />
                    <span class="" style="padding-left: 1rem">
                      {{ image.name }}
                    </span>
                  </div>
                </div>
                <div class="col-md-2">
                  <span
                    (click)="removeFile(i)"
                    class="material-symbols-outlined custome-icon"
                  >
                    close
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-25">
        <div class="form-group">
          <label for="" class="form-label">Write Description</label>
          <textarea
            formControlName="description"
            class="form-control"
            name=""
            id=""
            cols="30"
            rows="4"
          ></textarea>
          <!-- <div class="bottom-textarea">
            <span class="material-symbols-outlined"> delete </span>
            <span class="material-symbols-outlined"> edit </span>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row mt-30">
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="form-label">Title</label>
          <input
            type="text"
            formControlName="streamTitle"
            class="form-control"
            placeholder="Enter Here"
            [ngClass]="{
              'is-invalid':
                control['streamTitle'].invalid &&
                (control['streamTitle'].touched || control['streamTitle'].dirty)
            }"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="" class="form-label">Youtube Link</label>
          <input
            type="text"
            formControlName="streamLink"
            class="form-control"
            placeholder="Enter Here"
            [ngClass]="{
              'is-invalid':
                control['streamLink'].invalid &&
                (control['streamLink'].touched || control['streamLink'].dirty)
            }"
          />
        </div>
      </div>
    </div>

    <!-- <div class="row mt-30">
      <div class="col-md-4">
        <div class="col-md-4">
          <div class="upload-image-section">
            <span class="upload-icon">
              <span class="material-symbols-outlined"> arrow_upward </span>
            </span>
            <span class="upload-file-text">Upload Video</span>
            <input
              type="file"
              name=""
              id="upload-file-2"
              style="display: none"
              multiple
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-30">
      <div class="col-md-4">
        <div class="col-md-4">
          <div class="upload-image-section">
            <span class="upload-icon">
              <span class="material-symbols-outlined"> arrow_upward </span>
            </span>
            <span class="upload-file-text">Drag files to upload</span>
            <input
              type="file"
              name=""
              id="upload-file-3"
              style="display: none"
              multiple
            />
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-12 mt-25">
        <div class="form-group">
          <label for="" class="form-label">Why vietnam?</label>
          <textarea
            formControlName="whyVietnam"
            class="form-control"
            name=""
            id=""
            cols="30"
            rows="4"
          ></textarea>
          <!-- <div class="bottom-textarea">
            <span class="material-symbols-outlined"> delete </span>
            <span class="material-symbols-outlined"> edit </span>
          </div> -->
        </div>
      </div>
    </div>

    <div
      class="row mt-25 d-flex justify-content-end"
      style="padding-right: 1rem"
    >
      <button class="btn theme-btn" (click)="updateEvent()">Upload</button>
    </div>
  </div>
</div>
